#{ 'yield' }(from='table-header')
  .header.content.m-card
    div
      h2 { data.get(countField) || 'No' } { data.get('currency').toUpperCase() } { name } for User { data.get('id') } { data.get(countField) ? '' : 'Found' }
      div.filter
        daisho-filter-facets(
          data='{ data.ref("facets") }'
          facet-currency='{ facetCurrency }'
          class='{ open: openFilter }'
          onsearch='{ onsearch }')

#{ 'yield' }(from='table-body')
  .tables(if='{ data.get(countField) }')
    daisho-table.table(
    table-columns='{ headers }'
    table-field='{ resultsField }')
      #{ 'yield' }
        .table-cell { data.get('type') }
        .table-cell { utils.currency.renderCurrency(data.get('currency'), data.get('amount')) }
        .table-cell { data.get('notes') }
        .table-cell { utils.date.renderDate(data.get('createdAt')) }

