#{ 'yield' }(from='table-header')
  .header.content.m-card
    div
      h2 { data.get(countField) || 'No' } { data.get('currency').toUpperCase() } { name } for User { data.get('id') } { data.get(countField) ? '' : 'Found' }

#{ 'yield' }(from='table-body')
  .tables(if='{ data.get(countField) }')
    daisho-table.table(
    table-columns='{ headers }'
    table-field='{ resultsField }')
      #{ 'yield' }
        .table-cell(onclick='{ showTxKindId(data.get("destinationKind"), data.get("destinationId")) }') { data.get('type') }
        .table-cell(onclick='{ showTxKindId(data.get("destinationKind"), data.get("destinationId")) }') { utils.currency.renderCurrency(data.get('currency'), data.get('amount')) }
        .table-cell(onclick='{ showTxKindId(data.get("destinationKind"), data.get("destinationId")) }') { data.get('notes') }
        .table-cell(onclick='{ showTxKindId(data.get("sourceKind"), data.get("sourceId")) }') { renderKindId(data.get('sourceKind'), data.get('sourceId')) }
        .table-cell(onclick='{ showTxKindId(data.get("destinationKind"), data.get("destinationId")) }') { renderKindId(data.get('destinationKind'), data.get('destinationId')) }
        .table-cell(onclick='{ showTxKindId(data.get("destinationKind"), data.get("destinationId")) }') { utils.date.renderDate(data.get('createdAt')) }
