#{ 'yield' }(from='table-header')
  .header.content.m-card
    div
      h2 { data.get(countField) || 'No' } { name } { data.get('count') ? '' : 'Found'  }
      div.filter
        daisho-filter-facets(
          data='{ data.ref("facets") }'
          facet-currency='{ facetCurrency }'
          class='{ open: openFilter }'
          onsearch='{ onsearch }')
      button.submit(onclick='{ create }') Create
      button(
        class='{ open: openFilter }'
        onclick='{ toggleFilterMenu }') Filter

#{ 'yield' }(from='table-body')
  .tables(if='{ data.get(countField) }')
    daisho-table.m-card.table(
    table-columns='{ headers }'
    table-field='{ resultsField }')
      #{ 'yield' }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { data.get('number') }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { data.get('shippingAddress.name') }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { utils.currency.renderCurrency(data.get('currency'), data.get('total')) } { data.get('currency').toUpperCase() }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { data.get('paymentStatus') }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { utils.date.renderDate(data.get('createdAt')) }
        .table-cell(onclick='{ parent.show("order", data.get("id")) }') { utils.date.moment(data.get('updatedAt')).fromNow() }
    div.m-card.table-load-more
      .button(
        class='{ loading: loading }'
        onclick='{ loadMore }'
        if='{ hasMore }'
        disabled='{ loading }'
      )
        | { loading ? 'Loading...' : hasMore() ? ('Next ' + moreCount() + ' Results') : 'No More Results' }
