.header.content.m-card
  div
    h2 { data.get('count') || 'No' } Products { data.get('count') ? '' : 'Found'  }
    div.filter
      daisho-filter-facets(
        data='{ data.ref("facets") }'
        facet-currency='{ facetCurrency }'
        class='{ open: openFilter }'
        onsearch='{ _refresh }')
    button.submit(onclick='{ create }') Create
    button(
      class='{ open: openFilter }'
      onclick='{ toggleFilterMenu }') Filter

.tables.m-card(if='{ data.get("count") }')
  daisho-table.table(
  table-columns='{ headers }'
  table-field='products')
    .table-cell.img(onclick='{ parent.show("product", data.get("id")) }')
      img(src='/img/hero-prod.png', if='{ k == 0 }')
      img(src='/img/shirt-men-black.png', if='{ k != 0 }')
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { data.get('name') }
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { data.get('slug') }
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { data.get('sku') }
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { utils.currency.renderCurrency(data.get('currency'), data.get('price')) }
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { utils.date.renderDate(data.get('createdAt')) }
    .table-cell(onclick='{ parent.show("product", data.get("id")) }') { utils.date.moment(data.get('updatedAt')).fromNow() }
